#board {
  position: relative;
  width: 600px;
  height: 400px;
  border: 5px solid black;
}
.piece {
  width: 25px;
  height: 25px;
  border: 2px solid black;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.top {
  position: absolute;
  top: 0;
}
#one    {right: 0;}
#two    {right: 50px;}
#three  {right: 100px;}
#four   {right: 150px;}
#five   {right: 200px;}
#six    {right: 250px;}
#seven  {right: 300px;}
#eight  {right: 350px;}
#nine   {right: 400px;}
#ten    {right: 450px;}
#eleven {right: 500px;}
#twelve {right: 550px;}

#thirteen    {left: 0px;}
#fourteen    {left: 50px;}
#fifteen     {left: 100px;}
#sixteen     {left: 150px;}
#seventeen   {left: 200px;}
#eighteen    {left: 250px;}
#nineteen    {left: 300px;}
#twenty      {left: 350px;}
#twentyone   {left: 400px;}
#twentytwo   {left: 450px;}
#twentythree {left: 500px;}
#twentyfour  {left: 550px;}
